<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condens:300italic,700italic,700,300">
        <link rel="stylesheet" href="../../public/stylesheets/lib.css">
        <title>Finstagram</title>
    </head>
    <body>
        <header>
            <h1>Finstagram</h1>
        </header>
        <main role="main"</main>
            <article>
                <article class="post">
                <div class="user-info">
                    <img src="https:////c3.staticflickr.com/7/6154/buddyicons/59687764@N04.jpg?1316579694#59687764@N04" alt="fishRfriends">
                    <h2>fishRfriends</h2>
                    <h3>10 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="https://c2.staticflickr.com/8/7114/7561597888_8537b58e59_b.jpg" alt="post from fishRfriends">
                </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            fishRfriends: Boston Aquarium 2011
                        </p>
                    </li>
                </ul>
            </article>
        
    </body>
</html>